<fieldset>
  Chave <input type="text" name="attribute_key[]" value="<%= key %>">
  Valor <input type="text" name="attribute_value[]" value="<%= value %>">
  <a href="#" class="destroy icon-minus-sign"></a>
  <br>
</fieldset>