<h1>Novo produto</h1>
<form id="new_product">
  <label for="new_product_name">Nome</label>
  <input type="text" name="name" id="new_product_name"><br>
  <label for="new_product_description">Descrição</label>
  <textarea name="description" id="new_product_description"></textarea><br>
  <label for="new_product_category">Categoria</label>
  <select name="category" id="new_product_category">
       <% categories.each(function(category) { %>
           <option value="<%= category.get('_id') %>"><%= category.get('name') %></option>
       <% }); %>
   </select><br>
  <label for="new_product_price">Preço</label>
  <input type="text" name="price" id="new_product_price"><br>

  <fieldset id='new_attribute_fieldset'>
    <legend>Atributos dinâmicos</legend>
    <input type='button' id='new_attribute_btn' value='Novo atributo' style='margin-bottom:5px' class='btn'><br id='new_attribute_break'>
  </fieldset>
  <input type="submit" value="Adicionar">
</form>
