<h1>Novo produto</h1>

<form id="new_produto">
  <label for="new_product_name">Nome</label>
  <input type="text" name="name" id="new_product_name"><br/>
  <label for="new_product_description">Descrição</label>
  <textarea name="description" id="new_product_description"></textarea><br>
  <label for="new_product_category">Categoria</label>
  <input type="text" name="category" id="new_product_category"><br>
  <label for="new_product_image_url">Url da imagem</label>
  <input type="text" name="image_url" id="new_product_image_url"><br>
  <label for="new_product_price">Preço</label>
  <input type="text" name="price" id="new_product_price"><br>
  <input type="submit" value="Adicionar">
</form>
